@{
    ViewData["Title"] = "Home Page";
}

<section class="hero py-5 bg-black ">
    <div class="container container-fluid px-0">
        <div class="row align-items-center g-0">

            <div class="col-lg-6 mb-4 mb-lg-0">

                <h1 class="display-4 fw-bold text-light">
                    Your stronger future
                    starts from here
                </h1>

                <p class="text-secondary mt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur atque sapiente consequuntur
                    eaque asperiores laudantium.
                </p>

                <div class="d-flex align-items-center gap-3 mt-4">

                    <a class="btn btn-primary btn-lg px-4" href="#">
                        Start Training
                    </a>

                    <a class="d-flex align-items-center text-light text-decoration-none" href="#">
                        <span class="btn btn-outline-light rounded-circle me-2">
                            <i class="bi bi-play-fill"></i>
                        </span>
                        Watch Demo
                    </a>

                </div>

                <div class="d-flex align-items-center gap-3 mt-4">
                    <div class="d-flex">
                        <img src="https://i.pravatar.cc/50?img=3" class="rounded-circle border border-2 border-dark" />
                        <img src="https://i.pravatar.cc/50?img=4"
                            class="rounded-circle border border-2 border-dark ms-n2" />
                        <img src="https://i.pravatar.cc/50?img=5"
                            class="rounded-circle border border-2 border-dark ms-n2" />
                    </div>

                    <span class="text-secondary small">
                        10K+ satisfied clients
                    </span>
                </div>

            </div>

            <div class="col-lg-6 text-center">
                <img src="/img/hero-img/hero-img-large.jpg" alt="Hero" class="img-fluid rounded-3"
                    alt="Fitness hero image" />
            </div>

        </div>
    </div>
</section>
<section class="carousel py-5 bg-black ">

    <div class="container d-flex justify-content-between align-items-center mb-3">

        <h3 class="display-6 fw-bold text-light m-0">
            Explore Our Program
        </h3>

        <div class="swiper-buttons d-flex gap-2">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>

    <div class="swiper myProgramSwiper py-4">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="card bg-dark text-light p-3 rounded-4">
                    <i class="fa-solid fa-person-biking text-primary"></i>
                    <h5 class="fw-bold">Cardio Strength</h5>
                    <p class="small text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione odit porro voluptatum,
                        possimus facere?
                    </p>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card bg-dark text-light p-3 rounded-4">
                    <i class="fa-solid fa-person-running text-primary"></i>
                    <h5 class="fw-bold">Fat Lose</h5>
                    <p class="small text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione odit porro voluptatum,
                        possimus facere?
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card bg-dark text-light p-3 rounded-4">
                    <i class="fa-solid fa-dumbbell text-primary"></i>
                    <h5 class="fw-bold">Muscle Gain</h5>
                    <p class="small text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione odit porro voluptatum,
                        possimus facere?
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card bg-dark text-light p-3 rounded-4">
                    <i class="fa-solid fa-person-running text-primary"></i>
                    <h5 class="fw-bold">Stamina increase</h5>
                    <p class="small text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione odit porro voluptatum,
                        possimus facere?
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card bg-dark text-light p-3 rounded-4">
                    <i class="fa-solid fa-carrot text-primary"></i>
                    <h5 class="fw-bold">Eat healthy</h5>
                    <p class="small text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione odit porro voluptatum,
                        possimus facere?
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card bg-dark text-light p-3 rounded-4">
                    <i class="fa-solid fa-heart-pulse text-primary"></i>
                    <h5 class="fw-bold">Live longer</h5>
                    <p class="small text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione odit porro voluptatum,
                        possimus facere?
                    </p>
                </div>
            </div>


        </div>

    </div>

</section>

<section class="hero-section bg-black py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="hero-images position-relative">

                    <img src="/img/image1.jpg" class="hero-img img-1 rounded-4 shadow" />

                    <img src="/img/image2.jpg" class="hero-img img-2 rounded-4 shadow" />

                    <img src="/img/image3.jpg" class="hero-img img-3 rounded-4 shadow" />

                </div>
            </div>

            <div class="col-lg-6 text-light d-flex flex-column">

                <h3 class="display-5 fw-bold mb-3 text-secondary">
                    WHY CHOOSE US
                </h3>

                <h3 class="display-5 fw-bold mb-3">
                    Transform your physique<br />
                    with our fitness plan.
                </h3>

                <ul class="hero-benefits list-unstyled mb-4 ">

                    <li class="mb-3">
                        <i class="bi bi-check-circle-fill text-primary me-2"></i>
                        <strong class="text-light">
                            The Gym That Gets You Results
                        </strong>
                        <div class="text-secondary small">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quod odio, libero ab
                            maiores blanditiis, quis accusantium suscipit, nulla est aliquid sunt inventore ducimus
                            labore? Iste laborum alias fuga cum.
                        </div>
                    </li>

                    <li class="mb-3">
                        <i class="bi bi-check-circle-fill text-primary me-2"></i>
                        <strong class="text-light">
                            Transform Your Physique
                        </strong>
                        <div class="text-secondary small">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae doloribus ut
                            laudantium obcaecati dolorem aliquid voluptatum praesentium, ullam nihil nisi?
                        </div>
                    </li>

                    <li class="mb-3">
                        <i class="bi bi-check-circle-fill text-primary me-2"></i>
                        <strong class="text-light">
                            Be Healthier Than Before
                        </strong>
                        <div class="text-secondary small">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus temporibus earum
                            consequuntur quod vitae ab nihil nam nostrum, vel aperiam, dicta iusto debitis inventore ut
                            a esse nemo placeat.
                        </div>
                    </li>

                </ul>

            </div>

        </div>
    </div>
</section>

<section class="achievements-section bg-black py-5">
    <div class="container">


        <div class="row text-light text-center mb-4">

            <div class="col-6 col-lg-3 mb-3">
                <i class="fa-solid fa-medal"></i>
                <h3 class="fw-bold text-primary">10+</h3>
                <p class="text-secondary small mb-0">Years Experience</p>
            </div>

            <div class="col-6 col-lg-3 mb-3">
                <i class="fa-solid fa-users"></i>
                <h3 class="fw-bold text-primary">2K+</h3>
                <p class="text-secondary small mb-0">Active Members</p>
            </div>

            <div class="col-6 col-lg-3 mb-3">
                <i class="fa-solid fa-users"></i>
                <h3 class="fw-bold text-primary">8</h3>
                <p class="text-secondary small mb-0">Certified Trainers</p>
            </div>

            <div class="col-6 col-lg-3 mb-3">
                <i class="fa-solid fa-thumbs-up "></i>
                <h3 class="fw-bold text-primary">99%</h3>
                <p class="text-secondary small mb-0">Member Satisfaction</p>
            </div>

        </div>

    </div>
</section>

<section class="bg-black pb-5">

    <div
        class="p-4 rounded-4 bg-dark d-flex flex-column flex-lg-row justify-content-between align-items-lg-center mb-4">
        <h3 class="text-light mb-3 mb-lg-0 fw-semibold">
            Stop guessing. Start training smarter, become part of our community — join us today.
        </h3>

        <a class="btn btn-primary px-4">
            Join us
        </a>
    </div>
</section>

<section class="pricing-section bg-black py-5">
    <div class="container text-light">

        <div class="text-center mb-5">
            <span class="text-primary text-uppercase small fw-bold">Pricing</span>
            <h2 class="fw-bold mt-2">Our List Packages</h2>
        </div>

        <div class="row justify-content-center">

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="pricing-card bg-dark rounded-4 p-4 h-100">

                    <h6 class="text-primary">Basic Package</h6>

                    <h2 class="fw-bold mb-1">$55</h2>
                    <p class="text-secondary small mb-4">per month, billed annually</p>

                    <ul class="list-unstyled mb-4 small">
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> Unlimited Gym Access</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> 2x Fitness Consultant</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> Nutrition Tracking</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> 1x Free Supplement</li>
                    </ul>

                    <a class="btn btn-outline-none bg-primary w-100">
                        Register Now
                    </a>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="pricing-card featured rounded-4 p-4 h-100">

                    <div class="badge-offer">Most Popular</div>

                    <h6 class="text-light">Mid Package</h6>

                    <h2 class="fw-bold mb-1">$89</h2>
                    <p class="text-light small mb-4">per month, billed annually</p>

                    <ul class="list-unstyled mb-4 small">
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-light me-2"></i> Unlimited Gym Access</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-light me-2"></i> 4x Fitness Consultant</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-light me-2"></i> Nutrition Tracking</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-light me-2"></i> 3x Free Supplement</li>
                    </ul>

                    <a class="btn btn-outline-none bg-light btn-primary w-100 text-dark">
                        Register Now
                    </a>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="pricing-card bg-dark rounded-4 p-4 h-100">

                    <h6 class="text-primary">Pro Package</h6>

                    <h2 class="fw-bold mb-1">$119</h2>
                    <p class="text-secondary small mb-4">per month, billed annually</p>

                    <ul class="list-unstyled mb-4 small">
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> Unlimited Gym Access</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> 7x Fitness Consultant</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> Nutrition Tracking</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> 5x Free Supplement</li>
                    </ul>

                    <a class="btn btn-outline-none bg-primary w-100">
                        Register Now
                    </a>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <div class="pricing-card bg-dark rounded-4 p-4 h-100">

                    <h6 class="text-primary">Athlete Package</h6>

                    <h2 class="fw-bold mb-1">$179</h2>
                    <p class="text-secondary small mb-4">per month, billed annually</p>

                    <ul class="list-unstyled mb-4 small">
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> Unlimited Gym Access</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> 7x Fitness Consultant</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> Nutrition Tracking</li>
                        <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i> 5x Free Supplement</li>
                    </ul>

                    <a class="btn btn-outline-none bg-primary w-100">
                        Register Now
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts {
    <script>
        const swiper = new Swiper(".myProgramSwiper", {
            slidesPerView: 3,
            spaceBetween: 24,
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
            autoplay: {
                delay: 3000,
            },
            breakpoints: {
                0: { slidesPerView: 1.2 },
                576: { slidesPerView: 2 },
                992: { slidesPerView: 4 }
            }
        });
    </script>
}